@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "nunito", sans-serif;
}

:root {
  --bg-color: #034694;         /* Chelsea blue */
  --snd-bg-color: #0463cf;     /* Darker blue */
  --text-color: #ffffff;       /* White */
  --main-color: #ffd700;       /* Gold */
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* Existing styles for home section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: var(--bg-color);
  padding: 10rem 9%;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.typing {
  display: inline-block;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.typing:hover {
  color: var(--main-color);
  text-shadow: 0 0 8px var(--main-color), 0 0 15px var(--main-color), 0 0 20px var(--main-color), 0 0 30px var(--main-color);
  -webkit-transition: color 0.3s ease-in-out, -webkit-text-shadow 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, -moz-text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1:hover {
  color: var(--main-color);
  cursor: pointer;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow: 0 0 2rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0 3rem var(--main-color);
  color: var(--text-color);
}

/* New styles for spinning effect */
.container {
  width: 50vmin; /* Adjust size as needed */
  height: 50vmin; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  width: 90%;
  height: 90%;
  border: 1px none rgba(255, 255, 255, 0.4);
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px none rgba(255, 255, 255, 0.4);
  transform: scale(1.42);
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}


.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: spin 12s ease-in-out infinite alternate-reverse;
  opacity: 1;
  z-index: 2;
}

@keyframes morph {
  0% { border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%; }
  100% { border-radius: 40% 60%; }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


/* about */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(135deg, var(--bg-color), var(--snd-bg-color));
  padding: 5rem 9%;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}


.about-img img {
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50px 150px 50px 150px;
  -webkit-border-radius: 50px 150px 50px 150px;
  -moz-border-radius: 50px 150px 50px 150px;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.about-img img:hover {
  box-shadow: 0 0 5rem var(--main-color);
  transform: scale(1.05);
}

.about-content {
  max-width: 600px;
}

.heading{
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.heading span{
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  color: var(--text-color);
  text-align: justify;
}

.about-content .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.about-content .btn:hover {
  box-shadow: 0 0 3rem var(--main-color);
  color: var(--text-color);
}

/* Services */
.services{
  text-align: center;
  gap: 2rem;
  background: var(--bg-color);
  padding: 10rem 0;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-box {
  width: 35rem;
  padding: 2rem;
  background: linear-gradient(135deg, var(--snd-bg-color), var(--bg-color));
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}

.service-box i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
}

.service-box h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service-box p {
  font-size: 1.4rem;
}

.service-box:hover {
  transform: translateY(-1rem);
}

.service-box .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  margin-top: 25px;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.service-box .btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}


/* Portfolio Section Styles */
/* .portfolio {
  padding: 10rem 9%;
  background: var(--snd-bg-color);
  text-align: center;
} */
.portfolio{
  text-align: center;
  gap: 2rem;
  background: linear-gradient(135deg, var(--bg-color), var(--snd-bg-color));
  padding: 10rem 9%;
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.portfolio-box {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.portfolio-box:hover {
  transform: translateY(-0.5rem);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.portfolio-image img {
  width: 100%; /* Ensure image fills its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure image does not exceed container width */
  height: 400px; /* Fixed height */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  transition: transform 0.3s ease;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-box:hover .portfolio-description {
  opacity: 1;
}

.portfolio-description h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.portfolio-description p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.portfolio-links .btn {
  padding: 0.8rem 2.5rem;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.portfolio-links .btn:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 3rem var(--main-color);
}

.portfolio-box:hover .portfolio-links .btn {
  opacity: 1;
  pointer-events: auto;
}



/* Contact Section */

.contact{
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}


.contact-container {
  display: flex;
  width: 100%;
}

.contact-info,
.contact-form {
  flex: 1;
  margin: 1rem;
}

.contact-info h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.contact-info p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.contact-info .social-media {
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  gap: 0.8em;
  border-radius: 10px;
  padding: 1em;
  border: none;
  outline: none;
  color: rgb(20, 20, 20);
  background-color: #ede7e7;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
  
.contact-form textarea {
    height: 150px;
    resize: none;
}  

.contact-form button {
  background: var(--main-color);
  color: var(--bg-color);
  padding: 1rem;
  border-radius: 1rem;
  transition: background 0.3s ease;
  cursor: pointer;
  width: 500px;
}

.contact-form h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--main-color);
  width: 500px;
  margin-bottom: 1.2rem;
}

/* Footer */
.footer {
  background: var(--bg-color);
  border-radius: 2rem;
  color: var(--text-color);
  text-align: center;
  padding: 2rem 0;
}

.footer p {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}


